<div class="container row">
    <div class="col-md-6 center">
        <!-- <center> -->
        <form [formGroup] = 'registerForm' (ngSubmit) = 'register(registerForm.value)'>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" formControlName= 'username' class="form-control">
                <div *ngIf='registerForm.controls["username"].touched && !registerForm.controls["username"].valid'>
                        <span *ngIf='registerForm.controls["username"].hasError("required")' class="error">
                            Username is required
                        </span>
                        <span *ngIf='registerForm.controls["username"].hasError("minlength")' class="error">
                            Min length is 4
                        </span> 
                </div>
            </div>
            <div class="form-group">
                <label for="firstname">Firstname</label>
                <input type="text" formControlName='firstname' class="form-control">
                <div *ngIf = 'registerForm.controls["firstname"].touched && !registerForm.controls["firstname"].valid'>
                    <span *ngIf='registerForm.controls["firstname"].hasError("required")' class="error">
                            Firstname is required
                    </span>
                </div>
            </div>
            <div class="form-group">
                    <label for="lastname">lastname</label>
                    <input type="text" formControlName='lastname' class="form-control">
                    <div *ngIf = 'registerForm.controls["lastname"].touched && !registerForm.controls["lastname"].valid'>
                        <span *ngIf='registerForm.controls["lastname"].hasError("required")' class="error">
                                lastname is required
                        </span>
                    </div>
            </div>

            <div class="form-group">
                    <label for="email">email</label>
                    <input type="text" formControlName='email' class="form-control">
                    <div *ngIf = 'registerForm.controls["email"].touched && !registerForm.controls["email"].valid'>
                        <span *ngIf='registerForm.controls["email"].hasError("required")' class="error">
                                email is required
                        </span>
                    </div>
            </div>
            
            <div class="form-group">
                <button class="btn btn-success" type="submit">Register</button>
            </div>
        </form>
        <div class="form-group">
            <span class="success" *ngIf= message>
                {{message}}
            </span>
        </div>
        <!-- </center> -->
    </div>
</div>